<!DOCTYPE html>
<html lang="en">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Gardening and Landscaping Template">
    <meta name="description" content="Croper - Gardening and Landscaping Template">

    <!-- title  -->
    <title>Croper - Gardening and Landscaping Template</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="img/logos/favicon.png">
    <link rel="apple-touch-icon" href="img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/logos/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="css/plugins.css">

    <!-- search css -->
    <link rel="stylesheet" href="search/search.css">

    <!-- quform css -->
    <link rel="stylesheet" href="quform/css/base.css">

    <!-- theme core css -->
    <link href="css/styles.css" rel="stylesheet">

    <!-- custom css -->
    <link href="css/custom.css" rel="stylesheet">

</head>

<body>

    <!-- PAGE LOADING
    ================================================== -->
    <div id="preloader"></div>

    <!-- MAIN WRAPPER
    ================================================== -->
    <div class="main-wrapper">

        <!-- HEADER
        ================================================== -->
        <header class="header-style2">

            <div class="top-bar bg-primary">
                <div class="container-fluid px-lg-1-6 px-xl-2-5 px-xxl-2-9">
                    <div class="row">
                        <div class="col-md-9 col-xs-12">
                            <div class="top-bar-info">
                                <ul class="ps-0">
                                    <li><i class="ti-mobile"></i>(+123) 456 7890</li>
                                    <li class="d-none d-sm-inline-block"><i class="ti-email"></i>addyour@emailhere</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3 d-none d-md-block">
                            <ul class="top-social-icon ps-0">
                                <li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#!"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="navbar-default border-bottom border-color-light-white">

                <!-- start top search -->
                <div class="top-search bg-secondary">
                    <div class="container-fluid px-lg-1-6 px-xl-2-5 px-xxl-2-9">
                        <form class="search-form" action="search.html" method="GET" accept-charset="utf-8">
                            <div class="input-group">
                                <span class="input-group-addon cursor-pointer">
                                    <button class="search-form_submit fas fa-search text-white" type="submit"></button>
                                </span>
                                <input type="text" class="search-form_input form-control" name="s" autocomplete="off" placeholder="Type & hit enter...">
                                <span class="input-group-addon close-search mt-2"><i class="fas fa-times"></i></span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end top search -->
                <div class="container-fluid px-lg-1-6 px-xl-2-5 px-xxl-2-9">
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-12">
                            <div class="menu_area">
                                <nav class="navbar navbar-expand-lg navbar-light p-0">

                                    <div class="navbar-header navbar-header-custom">
                                        <!-- start logo -->
                                        <a href="index.html" class="navbar-brand logodefault"><img id="logo" src="img/logos/logo.png" alt="logo"></a>
                                        <!-- end logo -->
                                    </div>

                                    <div class="navbar-toggler"></div>

                                    <!-- menu area -->
                                    <ul class="navbar-nav ms-auto" id="nav" style="display: none;">
                                        <li><a href="index.html">Home</a></li>
                                        <li>
                                            <a href="#!">Pages</a>
                                            <ul>
                                                <li><a href="aboutus.html">About Us</a></li>
                                                <li><a href="company-history.html">Company History</a></li>
                                                <li><a href="our-process.html">Our Process</a></li>
                                                <li><a href="our-clients.html">Our Clients</a></li>
                                                <li><a href="services.html">Our Services</a></li>
                                                <li><a href="contactus.html">Contact Us</a></li>
                                                <li><a href="#!">Team</a>
                                                    <ul>
                                                        <li><a href="our-team.html">Our Team</a></li>
                                                        <li><a href="team-detail.html">Team Detail</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#!">Additional Pages</a>
                                                    <ul>
                                                        <li><a href="testimonials.html">Testimonials</a></li>
                                                        <li><a href="pricing-plans.html">Pricing Plans</a></li>
                                                        <li><a href="offers.html">Offers</a></li>
                                                        <li><a href="faq.html">FAQ</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#!">Others</a>
                                                    <ul>
                                                        <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                                        <li><a href="terms-and-conditions.html">Terms and Conditions</a></li>
                                                        <li><a href="comingsoon.html">Coming Soon</a></li>
                                                        <li><a href="404-error.html">404 Error</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#!">Services</a>
                                            <ul>
                                                <li><a href="design-and-planting.html">Design and Planting</a></li>
                                                <li><a href="lawn-and-garden-care.html">Lawn and Garden Care</a></li>
                                                <li><a href="stone-and-hard-scaping.html">Stone and Hard Scaping</a></li>
                                                <li><a href="spring-and-fall-cleanup.html">Spring and Fall Cleanup</a></li>
                                                <li><a href="lawn-moving.html">Lawn Moving</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#!">Projects</a>
                                            <ul>
                                                <li><a href="project-style-1.html">Project Style 1</a></li>
                                                <li><a href="project-style-2.html">Project Style 2</a></li>
                                                <li><a href="project-details.html">Project Details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#!">Elements</a>
                                            <ul class="row megamenu">
                                                <li class="col-lg-3">
                                                    <span class="mb-0 mb-lg-3 d-block py-2 p-lg-0 px-4 px-lg-0 text-uppercase sub-title font-weight-600 display-30">Elements 01</span>
                                                    <ul>
                                                        <li><a href="accordion.html"><i class="fas fa-sliders-h me-2"></i>Accordions</a></li>
                                                        <li><a href="alerts.html"><i class="far fa-bell me-2"></i>Alerts</a></li>
                                                        <li><a href="blockquotes.html"><i class="fas fa-vector-square me-2"></i>Blockquote</a></li>
                                                        <li><a href="buttons.html"><i class="fas fa-link me-2"></i>Buttons</a></li>
                                                        <li><a href="call-to-action.html"><i class="far fa-square me-2"></i>Call to Action</a></li>
                                                        <li><a href="carousel-slider.html"><i class="far fa-images me-2"></i>Carousel Slider</a></li>
                                                        <li><a href="count-down.html"><i class="far fa-flag me-2"></i>Count Down</a></li>
                                                    </ul>
                                                </li>
                                                <li class="col-lg-3">
                                                    <span class="mb-0 mb-lg-3 d-block py-2 p-lg-0 px-4 px-lg-0 text-uppercase sub-title font-weight-600 display-30">Elements 02</span>
                                                    <ul>
                                                        <li><a href="counter.html"><i class="fas fa-compress me-2"></i>Counters</a></li>
                                                        <li><a href="dropcaps.html"><i class="far fa-closed-captioning me-2"></i>Dropcaps</a></li>
                                                        <li><a href="forms.html"><i class="fab fa-wpforms me-2"></i>Forms</a></li>
                                                        <li><a href="form-elements.html"><i class="fas fa-cubes me-2"></i>Form Elements</a></li>
                                                        <li><a href="font-icons.html"><i class="far fa-check-square me-2"></i>Font Icons</a></li>
                                                        <li><a href="google-map.html"><i class="fas fa-map-marker-alt me-2"></i>Google Map</a></li>
                                                        <li><a href="grid-system.html"><i class="fas fa-th me-2"></i>Grid System</a></li>
                                                    </ul>
                                                </li>
                                                <li class="col-lg-3">
                                                    <span class="mb-0 mb-lg-3 d-block py-2 p-lg-0 px-4 px-lg-0 text-uppercase sub-title font-weight-600 display-30">Elements 03</span>
                                                    <ul>
                                                        <li><a href="highlights.html"><i class="fas fa-highlighter me-2"></i>Highlights</a></li>
                                                        <li><a href="header-1.html"><i class="fas fa-compress me-2"></i>Header Style 01</a></li>
                                                        <li><a href="header-2.html"><i class="fas fa-compress-arrows-alt me-2"></i>Header Style 02</a></li>
                                                        <li><a href="icon-with-text.html"><i class="fab fa-fonticons-fi me-2"></i>Icon With Text</a></li>
                                                        <li><a href="list-styles.html"><i class="fas fa-list-ul me-2"></i>List Styles</a></li>
                                                        <li><a href="media-object.html"><i class="fas fa-photo-video me-2"></i>Media Object</a></li>
                                                        <li><a href="modal.html"><i class="fas fa-expand me-2"></i>Modal</a></li>
                                                    </ul>
                                                </li>
                                                <li class="col-lg-3">
                                                    <span class="mb-0 mb-lg-3 d-block py-2 p-lg-0 px-4 px-lg-0 text-uppercase sub-title font-weight-600 display-30">Elements 04</span>
                                                    <ul>
                                                        <li><a href="pagination.html"><i class="far fa-caret-square-right me-2"></i>Pagination</a></li>
                                                        <li><a href="progress-bar.html"><i class="fas fa-tasks me-2"></i>Progress Bars</a></li>
                                                        <li><a href="social-icons.html"><i class="fas fa-bezier-curve me-2"></i>Social Icons</a></li>
                                                        <li><a href="tables.html"><i class="fas fa-table me-2"></i>Tables</a></li>
                                                        <li><a href="tabs.html"><i class="fas fa-sliders-h me-2"></i>Tabs</a></li>
                                                        <li><a href="typography.html"><i class="fas fa-text-height me-2"></i>Typography</a></li>
                                                        <li><a href="video.html"><i class="fas fa-video me-2"></i>Videos</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#!">Blog</a>
                                            <ul>
                                                <li><a href="blog-grid.html">Blog Grid</a></li>
                                                <li><a href="blog-list.html">Blog List</a></li>
                                                <li><a href="blog-detail.html">Blog Detail</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <!-- end menu area -->

                                    <!-- start attribute navigation -->
                                    <div class="attr-nav align-items-lg-center ms-lg-auto">
                                        <ul>
                                            <li class="search"><a href="#!"><i class="fas fa-search"></i></a></li>
                                            <li class="d-none d-lg-inline-block"><a href="contactus.html" class="butn medium text-white"><span>Free Quote</span></a></li>
                                        </ul>
                                    </div>
                                    <!-- end attribute navigation -->

                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </header>

        <!-- PAGE TITLE
        ================================================== -->
        <section class="bg-img cover-background" data-overlay-dark="55" data-background="img/bg/bg-02.jpg">
            <div class="container">
                <div class="row text-center">
                    <div class="col-lg-12">
                        <h1 class="fw-bold display-4 text-white">Blog Detail</h1>
                        <div class="breadcrumb">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="#!">Blog Detail</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- BLOG DETAIL
        ================================================== -->
        <section class="blog-detail">
            <div class="container">
                <div class="row mt-3">
                    <!-- blog left -->
                    <div class="col-lg-8 mb-2-9 mb-lg-0">
                        <div class="posts-wrapper">
                            <!--  start post-->
                            <img src="img/blog/blog-01.jpg" alt="...">
                            <div class="post-content wow fadeIn" data-wow-delay="200ms">
                                <div class="post-meta">
                                    <h2 class="h3">Health Benefits Provided By Indoor Plants For You.</h2>
                                    <ul class="meta-list">
                                        <li><i class="ti-user pe-2 text-primary align-middle"></i><a href="#!">Erica</a></li>
                                        <li class="second"><i class="ti-calendar pe-2 text-primary align-middle"></i>April 01, 21</li>
                                        <li><i class="ti-comment pe-2 text-primary align-middle"></i>10 Comments</li>
                                    </ul>
                                </div>
                                <div class="row mb-2-2">
                                    <div class="col-md-12">
                                        <p class="w-95">The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
                                        <p class="w-95">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                                        <blockquote>
                                            <div class="quote-box">
                                                <i class="ti-quote-left"></i>
                                            </div>
                                            <p class="font-weight-500 display-28 mb-3">Thanks guys, keep up the good work! Gardening was the best investment I ever made. I am really satisfied with my gardening.</p>
                                            <cite>Writing By: Richard Muldoone</cite>
                                        </blockquote>
                                        <p class="w-95 mb-0">If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                                    </div>
                                </div>

                                <div class="row mb-2-2">
                                    <div class="col-6">
                                        <img src="img/blog/blog-detail-02.jpg" alt="..." class="rounded">
                                    </div>
                                    <div class="col-6">
                                        <img src="img/blog/blog-detail-03.jpg" alt="..." class="rounded">
                                    </div>
                                </div>

                                <div class="row mb-2-2">
                                    <div class="col-md-12">
                                        <h3 class="h4 mb-3">Reliability & Efficiency</h3>
                                        <p class="w-95 mb-0">Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. excepteur sint occaecat cupidatat non proident minim veniam.</p>
                                    </div>
                                </div>
                                <div class="row mb-2-2">
                                    <div class="col-md-6 mb-1-6 mb-md-0">
                                        <img src="img/blog/blog-detail-01.jpg" alt="..." class="rounded">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="ps-md-3">
                                            <h3 class="h4 mb-3">Strategies</h3>
                                            <p class="mb-3">Proin viverra nisi at nisl imperdiet auctnec ornare, estsed senibeget at varius enim sem at sem.</p>
                                            <ul class="list-style2 mb-0">
                                                <li><i class="fas fa-check"></i>Quisque aliquet nibh sit.</li>
                                                <li><i class="fas fa-check"></i>Nulla at metus ultricies.</li>
                                                <li><i class="fas fa-check"></i>Quisque aliquet nibh amet.</li>
                                                <li><i class="fas fa-check"></i>Curabitur mollis ex.</li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                                <div>
                                    <p class="w-95 mb-0">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                                </div>
                                <div class="separator"></div>
                                <div class="row g-0 align-items-center">
                                    <div class="col-md-6 col-xs-12 mb-1-6 mb-md-0">
                                        <div class="tags">
                                            <h6 class="mb-3">Related Tags</h6>
                                            <ul class="blog-tags">
                                                <li><a href="#!">Gardener</a></li>
                                                <li><a href="#!">Plants</a></li>
                                                <li><a href="#!">Lawn</a></li>

                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xs-12">
                                        <h6 class="text-md-end text-start mb-3">Share Post</h6>
                                        <ul class="share-post">
                                            <li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#!"><i class="fab fa-instagram"></i></a></li>
                                            <li><a href="#!"><i class="fab fa-youtube"></i></a></li>
                                            <li><a href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--  end post-->

                            <!-- start author post -->
                            <div class="author-post-info wow fadeIn" data-wow-delay="200ms">
                                <div class="d-block d-md-flex text-center text-md-start">
                                    <div class="flex-shrink-0 mb-3 mb-md-0">
                                        <img class="rounded-circle" src="img/avatar/avatar-04.jpg" alt="...">
                                    </div>
                                    <div class="flex-grow-1 ms-md-1-9">
                                        <h5>Sylvia Pennington</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. quis nostrud laboris nisi ut aliquip.</p>
                                        <ul class="author-post">
                                            <li class="ml-0">
                                                <a href="#!"><i class="fab fa-facebook-f"></i></a>
                                            </li>
                                            <li>
                                                <a href="#!"><i class="fab fa-twitter"></i></a>
                                            </li>
                                            <li>
                                                <a href="#!"><i class="fab fa-instagram"></i></a>
                                            </li>
                                            <li class="mr-0">
                                                <a href="#!"><i class="fab fa-youtube"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- end author post -->

                            <div class="page-navigation mb-6 wow fadeIn mt-2-9" data-wow-delay="200ms">
                                <div class="prev-page">
                                    <div class="page-info">
                                        <a href="#!">
                                            <span class="image-prev"><img src="img/blog/blog-06-thumbnail.jpg" alt="..."></span>
                                            <div class="prev-link-page-info">
                                                <h4 class="prev-title">Plant Landscaping Is The Best Idea You’ve Ever Had.</h4>
                                                <span class="date-details"><span class="create-date">June 01, 2021</span></span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="next-page">
                                    <div class="page-info">
                                        <a href="#!">
                                            <div class="next-link-page-info">
                                                <h4 class="next-title">Plants That Help Purifying Air In Home.</h4>
                                                <span class="date-details"><span class="create-date">June 08, 2021</span></span>
                                            </div>
                                            <span class="image-next"><img src="img/blog/blog-02-thumbnail.jpg" alt="..."></span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <!-- start comment -->
                            <div class="comments-area wow fadeIn" data-wow-delay="200ms">
                                <h3 class="h4 mb-4">Comments</h3>
                                <div class="comment-box">
                                    <div class="author-thumb">
                                        <img class="border-radius-50" src="img/avatar/avatar-05.jpg" alt="...">
                                    </div>
                                    <div class="ms-12 ms-md-13">
                                        <h6 class="mb-2 display-28"><a href="#!">Renee Sizemore</a></h6>
                                        <p class="mb-3">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                        <div class="font-weight-600">
                                            <a href="#!"><i class="fa fa-reply display-31 pe-2" aria-hidden="true"></i> Reply</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment-box">
                                    <div class="author-thumb">
                                        <img class="border-radius-50" src="img/avatar/avatar-06.jpg" alt="...">
                                    </div>
                                    <div class="ms-12 ms-md-13">
                                        <h6 class="mb-2 display-28"><a href="#!">Denis Irwin</a></h6>
                                        <p class="mb-3">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                        <div class="font-weight-600">
                                            <a href="#!"><i class="fa fa-reply display-31 pe-2" aria-hidden="true"></i> Reply</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment-box">
                                    <div class="author-thumb">
                                        <img class="border-radius-50" src="img/avatar/avatar-07.jpg" alt="...">
                                    </div>
                                    <div class="ms-12 ms-md-13">
                                        <h6 class="mb-2 display-28"><a href="#!">Tom Mills</a></h6>
                                        <p class="mb-3">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                        <div class="font-weight-600">
                                            <a href="#!"><i class="fa fa-reply display-31 pe-2" aria-hidden="true"></i> Reply</a>
                                        </div>
                                    </div>
                                </div>
                                <!--  start form-->
                                <div class="comment-form">
                                    <h3 class="h4 mb-4">Leave a reply</h3>
                                    <!-- Form -->
                                    <form class="quform" action="quform/contact.php" method="post" enctype="multipart/form-data" onclick="">
                                        <div class="quform-elements">
                                            <div class="row">

                                                <!-- Begin Text input element -->
                                                <div class="col-md-6">
                                                    <div class="quform-element mb-3">
                                                        <label for="name">Your Name <span class="quform-required">*</span></label>
                                                        <div class="quform-input">
                                                            <input class="form-control" id="name" type="text" name="name" placeholder="Your name here">
                                                        </div>
                                                    </div>

                                                </div>
                                                <!-- End Text input element -->

                                                <!-- Begin Text input element -->
                                                <div class="col-md-6">
                                                    <div class="quform-element mb-3">
                                                        <label for="email">Your Email <span class="quform-required">*</span></label>
                                                        <div class="quform-input">
                                                            <input class="form-control" id="email" type="text" name="email" placeholder="Your email here">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Text input element -->

                                                <!-- Begin Textarea element -->
                                                <div class="col-md-12">
                                                    <div class="quform-element mb-3">
                                                        <label for="message">Message <span class="quform-required">*</span></label>
                                                        <div class="quform-input">
                                                            <textarea class="form-control" id="message" name="message" rows="4" placeholder="Tell us a few words"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Textarea element -->

                                                <!-- Begin Submit button -->
                                                <div class="col-md-12">
                                                    <div class="quform-submit-inner">
                                                        <button class="butn medium" type="submit"><span>Send Message</span></button>
                                                    </div>
                                                    <div class="quform-loading-wrap text-start"><span class="quform-loading"></span></div>
                                                </div>
                                                <!-- End Submit button -->

                                            </div>

                                        </div>
                                    </form>
                                    <!-- End Form -->
                                </div>
                                <!--  end form-->
                            </div>
                            <!-- end comment -->
                        </div>
                    </div>
                    <!-- end blog left -->

                    <!-- blog right -->
                    <div class="col-lg-4">
                        <div class="blog-sidebar ps-lg-4 ps-xl-5">
                            <div class="widget wow fadeIn" data-wow-delay="200ms">
                                <h6 class="widget-title">Search</h6>
                                <form action="#!">
                                    <div class="input-group">
                                        <input class="form-control" type="search" name="search" placeholder="Type here ..." />
                                        <div class="input-group-append">
                                            <button class="butn search-butn"><i class="fas fa-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="widget wow fadeIn" data-wow-delay="300ms">
                                <h6 class="widget-title">Categories</h6>
                                <ul class="list-style9">
                                    <li><a href="#!"><span>Garden Care</span><span class="count">10</span></a></li>
                                    <li><a href="#!"><span>Landscape Design</span><span class="count">15</span></a></li>
                                    <li><a href="#!"><span>Lawn Movers</span><span class="count">04</span></a></li>
                                    <li><a href="#!"><span>Outdoor Scaping</span><span class="count">06</span></a></li>
                                </ul>
                            </div>
                            <div class="widget wow fadeIn" data-wow-delay="400ms">
                                <h6 class="widget-title">Latest Posts</h6>
                                <div class="blog-post-carousel owl-carousel owl-theme">
                                    <div>
                                        <div class="image-box">
                                            <img src="img/blog/blog-post-01.jpg" alt="...">
                                            <h6>Gardener</h6>
                                        </div>
                                        <div class="post-content">
                                            <a href="#!" class="display-30 mb-2 d-block text-muted">April 01, 2021</a>
                                            <h6><a href="#!">Understand gardening before you regret.</a></h6>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="image-box">
                                            <img src="img/blog/blog-post-02.jpg" alt="...">
                                            <h6>Planting</h6>
                                        </div>
                                        <div class="post-content">
                                            <a href="#!" class="display-30 mb-2 d-block text-muted">March 15, 2021</a>
                                            <h6><a href="#!">The truth about plants is about to be revealed.</a></h6>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="image-box">
                                            <img src="img/blog/blog-post-03.jpg" alt="...">
                                            <h6>Gardening Tips</h6>
                                        </div>
                                        <div class="post-content">
                                            <a href="#!" class="display-30 mb-2 d-block text-muted">February 19, 2021</a>
                                            <h6><a href="#!">Garden will make you tons of cash. Here's how!</a></h6>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="image-box">
                                            <img src="img/blog/blog-post-04.jpg" alt="...">
                                            <h6>Landscaping</h6>
                                        </div>
                                        <div class="post-content">
                                            <a href="#!" class="display-30 mb-2 d-block text-muted">January 25, 2021</a>
                                            <h6><a href="#!">Five various ways to do landscaping.</a></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="widget wow fadeIn" data-wow-delay="500ms">
                                <h6 class="widget-title">Popular Tags</h6>
                                <ul class="blog-tags">
                                    <li><a href="#!">Garden</a></li>
                                    <li><a href="#!">Plants</a></li>
                                    <li><a href="#!">Landscaping</a></li>
                                    <li><a href="#!">Florist</a></li>
                                    <li><a href="#!">Lawn</a></li>
                                    <li><a href="#!">Seeds</a></li>
                                    <li><a href="#!">Water</a></li>
                                </ul>
                            </div>
                            <div class="bg-img primary-overlay cover-background rounded wow fadeInUp" data-wow-delay="600ms" data-overlay-dark="85" data-background="img/bg/bg-07.jpg">
                                <div class="position-relative z-index-9 text-center py-5 px-1-9">
                                    <i class="fas fa-headset text-white mb-4 display-14"></i>
                                    <h5 class="text-white mb-4">How can we help?</h5>
                                    <div class="separator-line-horrizontal-full bg-white opacity4 mb-4"></div>
                                    <ul class="text-center mb-0 list-unstyled ps-0">
                                        <li class="text-white mb-2"><i class="fa fa-phone small text-white me-2"></i><a href="#!" class="text-white">+1 234 567 890</a></li>
                                        <li class="text-white"><i class="fa fa-envelope-open small text-white me-2"></i><a href="#!" class="text-white">addyour@emailhere</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end blog right -->
                </div>
            </div>
        </section>

        <!-- FOOTER
        ================================================== -->
        <footer>
            <div class="container">
                <div class="row mt-n2-6">
                    <div class="col-sm-6 col-lg-3 mt-2-6 wow fadeIn" data-wow-delay="200ms">
                        <div class="mb-1-6 mb-lg-1-9">
                            <img src="img/logos/footer-light-logo.png" alt="...">
                        </div>
                        <p class="text-white mb-1-6 mb-lg-1-9">On the off chance that you have a nursery, you have everything in this world. Universe of your own, to plant, sustain and develop. Plants as well as your spirit!</p>
                        <ul class="footer-social-style2">
                            <li>
                                <a href="#!"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#!"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#!"><i class="fab fa-youtube"></i></a>
                            </li>
                            <li>
                                <a href="#!"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-lg-3 mt-2-6 wow fadeIn" data-wow-delay="350ms">
                        <div class="ps-sm-1-6 ps-xl-2-5">
                            <h3 class="h5 mb-1-6 mb-lg-1-9 text-white">Get in Touch</h3>
                            <ul class="address-list">
                                <li>
                                    <span class="d-inline-block align-middle"><i class="fas fa-map-marker-alt text-primary align-middle"></i></span>
                                    <span class="d-inline-block align-middle ps-2 text-white">73 Canal Street, UK</span>
                                </li>
                                <li>
                                    <span class="d-inline-block align-middle"><i class="far fa-envelope text-primary align-middle"></i></span>
                                    <span class="d-inline-block align-middle ps-2 text-white">support@info.com</span>
                                </li>
                                <li>
                                    <span class="d-inline-block align-middle"><i class="fas fa-phone text-primary align-middle"></i></span>
                                    <span class="d-inline-block align-middle ps-2 text-white">(+44) 123 456 789</span>
                                </li>
                                <li>
                                    <span class="d-inline-block align-middle"><i class="ti-calendar text-primary align-middle"></i></span>
                                    <span class="d-inline-block align-middle ps-2 text-white">Mon - Sat:<span class="ps-2">9am - 5pm</span></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mt-2-6 wow fadeIn" data-wow-delay="500ms">
                        <div class="ps-lg-1-6 ps-xl-2-5">
                            <h3 class="h5 mb-1-6 mb-lg-1-9 text-white">Our Services</h3>
                            <ul class="footer-list-style2">
                                <li><a href="design-and-planting.html">Design and Planting</a></li>
                                <li><a href="lawn-and-garden-care.html">Lawn and Garden Care</a></li>
                                <li><a href="stone-and-hard-scaping.html">Stone and Hard Scaping</a></li>
                                <li><a href="spring-and-fall-cleanup.html">Spring and Fall Cleanup</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mt-2-6 wow fadeIn" data-wow-delay="650ms">
                        <div class="ps-sm-1-6 ps-xl-2-5">
                            <h3 class="h5 mb-1-6 mb-lg-1-9 text-white">Gallery</h3>
                            <div class="row g-2">
                                <div class="col-4">
                                    <a href="#!"><img src="img/content/insta-01.jpg" alt="..."></a>
                                </div>
                                <div class="col-4">
                                    <a href="#!"><img src="img/content/insta-02.jpg" alt="..."></a>
                                </div>
                                <div class="col-4">
                                    <a href="#!"><img src="img/content/insta-03.jpg" alt="..."></a>
                                </div>
                                <div class="col-4">
                                    <a href="#!"><img src="img/content/insta-04.jpg" alt="..."></a>
                                </div>
                                <div class="col-4">
                                    <a href="#!"><img src="img/content/insta-05.jpg" alt="..."></a>
                                </div>
                                <div class="col-4">
                                    <a href="#!"><img src="img/content/insta-06.jpg" alt="..."></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bar borders-top border-color-light-white wow fadeIn" data-wow-delay="200ms">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <p class="d-inline-block text-white mb-0">&copy; <span class="current-year"></span> Croper is Powered by
                                <a href="#!" class="text-primary text-white-hover">Chitrakoot Web</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>

    <!-- start scroll to top -->
    <a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    <!-- end scroll to top -->

    <!-- all js include start -->

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>

    <!-- modernizr js -->
    <script src="js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="js/bootstrap.min.js"></script>

    <!-- search -->
    <script src="search/search.js"></script>

    <!-- navigation -->
    <script src="js/nav-menu.js"></script>

    <!-- tab -->
    <script src="js/easy.responsive.tabs.js"></script>

    <!-- owl carousel -->
    <script src="js/owl.carousel.js"></script>

    <!-- jquery.counterup.min -->
    <script src="js/jquery.counterup.min.js"></script>

    <!-- stellar js -->
    <script src="js/jquery.stellar.min.js"></script>

    <!-- waypoints js -->
    <script src="js/waypoints.min.js"></script>

    <!-- countdown js -->
    <script src="js/countdown.js"></script>

    <!-- jquery.magnific-popup js -->
    <script src="js/jquery.magnific-popup.min.js"></script>

    <!-- lightgallery js -->
    <script src="js/lightgallery-all.js"></script>

    <!-- mousewheel js -->
    <script src="js/jquery.mousewheel.min.js"></script>

    <!-- wow js -->
    <script src="js/wow.js"></script>

    <!--  clipboard js -->
    <script src="js/clipboard.min.js"></script>

    <!--  prism js -->
    <script src="js/prism.js"></script>

    <!-- custom scripts -->
    <script src="js/main.js"></script>

    <!-- form plugins js -->
    <script src="quform/js/plugins.js"></script>

    <!-- form scripts js -->
    <script src="quform/js/scripts.js"></script>

    <!-- all js include end -->

</body>

</html>